body{
  background-color: #1e293b;
}

#gif-chargement{
  width: 140px;
  height: auto;
}

#loader {
  position: fixed;
  inset: 0;
  background: #0f172a;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 9999;
}

.progress {
  width: 300px;
  height: 10px;
  background: #334155;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background: #22c55e;
  transition: width 0.2s ease;
}

#titre-main-page{
  margin: 10px;
  margin-left: 10%;
  margin-bottom: 0px;
  font-size: 80px;
}

#titre-main-page img {
  width: 60px;
  height: auto;
}

#sous-titre-main-page{
  margin: 10px;
  margin-top: 0px;
  margin-left: 18%;
  font-size: 45px;
}

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  margin: 0 auto;
  padding: 20px;
  background-color: #BCE88E;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
}

.pokemon {
  background-color: #e3f2c2;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #c7f0a5;
  width: 150px;
  position: relative; 
  min-height: 220px;
  justify-items: center;
}

.pokemon-id {
  position: absolute;
  bottom: 2px;  
  right: 5px;    
  margin: 0 !important;
  font-size: 0.8rem;
  color: #444;
}

.pokemon p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.pokimage {
  border: 1px solid #AE8E73;
  border-radius: 3px;
  width: 140px;
  height: auto;
  background-color: #c7f0a5;
}


/* menu numéro pour choix de page*/

#barre-pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 30px 0;
}

/* style de base d'un petit carré */
.bouton-page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  text-decoration: none;
  color: #374151;
  font-weight: bold;
  transition: all 0.2s;
}

/* effet quand on passe la souris */
.bouton-page:hover {
  background-color: #f3f4f6;
  border-color: #9ca3af;
}

/* style différent pour carré actuel */
.bouton-page.page-actuelle {
  background-color: #374151;
  color: white;
  border-color: #374151;
}

/* types couleur */

.types {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 5px 0;
}

.type-badge {
  color: white;         
  padding: 4px 10px; 
  border-radius: 12px;      
  font-size: 0.75rem;      
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#card {
    position: relative;
    background-color: #0f172a !important; 
    
    width: 90%;
    max-width: 800px;
    margin: 50px auto;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    
    
    border: 2px solid var(--neon-color, #fff);
    box-shadow: 
        0 0 5px #fff,
        0 0 10px var(--neon-color, #08f),
        inset 0 0 5px var(--neon-color, #08f);
    
    transition: all 0.4s ease-in-out;
}

#moves {
    display: grid;
    /* Crée autant de colonnes que possible de 110px */
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr)); 
    gap: 15px;
    padding: 25px;
    width: 100%; 
    box-sizing: border-box; 
    
    /* Fond sombre transparent pour laisser deviner le néon du fond */
    background-color: rgba(15, 23, 42, 0.7) !important;
    border-radius: 15px;
    border: 1px solid var(--neon-color) !important;
    margin: 20px 0;
    
    /* Scrollbar stylisée */
    max-height: 400px;
    overflow-y: auto;
}

#moves h4 {
    grid-column: 1 / -1; /* Titre sur toute la largeur */
    margin: 0 0 10px 0;
    font-size: 1.3rem;
    color: var(--neon-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 0 5px var(--neon-color);
}

#moves p {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1 / 1; 
    
    background-color: #1e293b;
    color: #cbd5e1;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    
    font-size: 0.85rem;
    font-weight: 600;
    padding: 10px;
    margin: 0;
    text-transform: capitalize;
    
    transition: all 0.3s ease;
    cursor: default;
}  

.card-grass { --neon-color: #35e85e; }
.card-fire { --neon-color: #f82222}
.card-water { --neon-color: #43a0f2}
.card-bug { --neon-color: #96a040}
.card-normal { --neon-color: #b8b89d}
.card-electric { --neon-color: #fae034}
.card-poison { --neon-color: #A040A0}
.card-ground { --neon-color: #e08e68}
.card-fairy { --neon-color: #EE99AC}
.card-fighting { --neon-color: #C03028}
.card-psychic { --neon-color: #F85888}
.card-rock { --neon-color: #B8A038}
.card-ghost { --neon-color: #705898}
.card-ice { --neon-color: #98D8D8}
.card-dragon { --neon-color: #7038F8}


.pokecard {
  position: absolute;
  top: 15px;
  right: 15px; 
  width: 200px;  
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--neon-color, #fff);
    box-shadow: 
        0 0 5px #fff,
        0 0 10px var(--neon-color, #08f),
        inset 0 0 5px var(--neon-color, #08f);
    
    transition: all 0.4s ease-in-out;
  border-radius: 5px;
}

.pokpokimage {
  max-width: auto;
  max-height: auto; 
  object-fit: contain;
}

.pokemon-container {
  display: flex;          
  justify-content: space-between; 
  align-items: center;     
}

.pokemon-infos {
  display: flex;
  flex-direction: column;
}